[Unit]
Description=slideextract
After=network.target

[Service]
Type=simple
ExecStart=//home/bookworm/.pyenv/versions/3.9.18/envs/slideextract/bin/python -m streamlit run app.py --server.port 8520
WorkingDirectory=/home/bookworm/code/slideextract/docker/streamlit_app
EnvironmentFile=/home/bookworm/code/service/slide.env

[Install]
WantedBy=default.target
