[Unit]
Description=slideextract
After=network.target

[Service]
Type=simple
ExecStart=/opt/shichenh/miniconda3/envs/slideextract/bin/python -m streamlit run app.py --server.port 8502
WorkingDirectory=/opt/shichenh/slideextract/docker/streamlit_app
EnvironmentFile=/opt/shichenh/slideextract/service/slide.env

[Install]
WantedBy=default.target
